asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
distlib==0.4.3
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
env==0.1.0
filelock==3.29.3
gunicorn==26.0.0
idna==3.18
packaging==26.2
platformdirs==4.10.0
python-discovery==1.4.2
requests==2.34.2
resend==2.32.2
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
urllib3==2.7.0
virtualenv==21.4.3
whitenoise==6.12.0
